body {
    margin: 5%;
    font-family: cursive;
}

.image_logo {
    width: 100px;
    border-radius: 50px;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.container {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 18px;
}

.skills {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}