body {
    margin: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(44, 56, 66);
}

#root {
    border: solid 1px white;
    padding: 40px;
}

.color_style {
    color: rgb(162, 181, 201);
}

.image_logo {
    width: 100px;
    border-radius: 50px;
    transition-duration: 0.3s;
}

.image_logo:hover {
    width: 120px;
    border-radius: 70px;
}

header {
    height: 250px;
    background-color: #1c6596;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.container {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

.skills {
    margin-top: 10px;
}

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

a[target="_blank"] {
    color: rgb(162, 181, 201);

    font-size: large;
    text-decoration: none;
}

a[target="_blank"]:hover {
    color: white;
    font-size: large;
    font-weight: bold;
}






.rating {
    font-size: 24px;
}

.rating .star {
    color: gold;
    cursor: pointer;
}

.rating .star_grey {
    color: gray;
    cursor: pointer;
}

.rating .star:hover {
    color: gold;
    font-weight: bold;
}

.rating .star_grey:hover {
    color: gray;
    font-weight: bold;
}